<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About Us
      </h1>
      <h2 class="subtitle">
        Mission Statement. Our Vision. And More.
      </h2>
      <p class="is-large">Books4Change is a not for profit open source platform connecting
      multicultural children's literature authors with active publishers who are looking
      for new content.</p>
      <p class="is-small">Our mission is to create a world where all children
      can see themselves through the pages of books.</p>
    </div>
  </div>
</section>