<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contact
      </h1>
      <h2 class="subtitle">
        Your comments, questions, and concerns matter to us. Reach out to us
        and we'll get back to you ASAP.
      </h2>
      <p> Reach us by email: info@books4change.com</p>
      <p> Reach us by phone: 201-212-2222</p>
    </div>
  </div>
</section>